<br>
<div class="callout">
  <div class="grid-container">
    <h4>Сортировать по: </h4>
    <div class="grid-x grid-margin-x">
    <div class="cell shrink">
      <span class="label secondary">Цене</span>
    </div>
      <div class="cell small-1">
        <div class="button-group">
          <button class="button small" (click)="sortPriceUp()">^</button>
          <button class="button small" (click)="sortPriceDown()">v</button>
        </div>
      </div>
      <div class="cell shrink">
        <span class="label secondary">Количеству заказов</span>
      </div>
      <div class="cell small-1">
        <div class="button-group">
          <button class="button small" (click)="sortOrdersUp()">^</button>
          <button class="button small" (click)="sortOrdersDown()">v</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="callout secondary">
  <div class="grid-x grid-margin-x">
    <div class="cell shrink">Id</div>
    <div class="cell auto">Название</div>
    <div class="cell small-1">Артикул</div>
    <div class="cell small-1">Цена</div>
    <div class="cell shrink">Производитель</div>
    <div class="cell small-1">Год</div>
    <div class="cell small-1">Заказы</div>
    <div class="cell small-1">Заказать
    </div>
    <div class="cell small-1">Камера</div>
    <div class="cell small-3">Разрешение экрана</div>
  </div>
</div>
<div class="grid-container">
  <app-product-view *ngFor="let product of productsService.products | sortProducts:sortType:sortOrder"
                 [inProduct]="product"
                 (delProduct)="productsService.onDelProduct($event)" >
  </app-product-view>
</div>

